body{
  background-size: cover;
  margin: 0;
  padding-top:5vh;
}

.infobar-wrapper {
  height: 50vh;
  background: #145C9E;
  position: relative;
}

.infobar {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.profile-picture {
  position: absolute;
  top: 5vh;
  left: 20%;
  width: 20%;
  height: 40vh;
  vertical-align: middle;
  display: table-cell;
  background: white;
}

.info-attribute{
  font-weight: 700;
}

.info-wrapper {
  margin-left: 50%;
  margin-top: 5vh;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.info-wrapper h1{
  margin-top: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 75px;
}

.info-wrapper table{
  width: 100%;
  margin-bottom: 2vh;
}

.submit-wrapper {
  background-color: #38413D;
  border: none;
  color: white;
  border-radius: 5px;
  width: 70px;
  height: 3vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    width: 130px;
    padding-top: 0.5vh;
    height: 2.5vh;
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin: 4px 2px;
    background-color: #38413D;
    display: inline-block;
}

.student-table-wrapper {
  background-color: #38413D;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  color: black;
}

.about {
  width: 80%;
  margin: 0 auto;
  margin-top: 10vh;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 3vh;
  color: white;
  font-weight: 700;
}

.about-picture {
  height: 25vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.about td {
  padding: 8px;
}

.image-wrapper {
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.extra-height {
  height: fit-content!important;
}

.student-table-wrapper table{
  margin: 0 auto;
  width: 90%;
  border: 2px solid black;
}

.student-table-wrapper th {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  background: #145C9E;
  padding: 10px 2px;
  font-size: 3vh;
}

.student-table-wrapper td {
  padding: 6px;
}

.student-table-wrapper tr:nth-child(even) {
  background-color: #f3e8d2;
}

.student-table-wrapper tr:nth-child(odd) {
  background-color: #fff4dd;
}

.info-wrapper select, input, button{
    font-family: 'Quicksand', sans-serif;
}

.info-wrapper input {
  padding-left: 5px;
  width: 40px;
}

.info-wrapper h3, p{
  margin: 0;
}

.info-wrapper table {
  height: 15vh;
}

.info-details{
  width: 70%;
}

.details-separator {
  width: 100%;
  height: 16vh;
  background: #38413D;
  text-align: center;
  padding-top: 8vh;
}

.details-separator p {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  font-size: 8vh;
  height: 8vh;
}

.navbar-wrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  background: #38413D;
  box-shadow: 0px 2px 7px grey;
}


footer {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 10vh;
  box-shadow: 0px -2px 6px grey;
  background: #38413D;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.footer-text-wrapper {
  margin-top: 4vh;
}

#heart {
  display: inline-block;
  margin: 0 2px;
  width: 15px;
  height: 14px;
  background: url('heart.png');
  background-size: contain;
}

footer a{
  color: #f3e8d2;
}

.content-wrapper {
  overflow: hidden;
  height: 95vh;
  width: 100%;
}


.picture-wrapper {
  width: 50%;
  height: inherit;
  margin: 0 auto;
}

.picture-1 {
  background-image: url('big_cut.jpg');
  background-repeat: no-repeat;
  background-position: right top;
}

.picture-2 {
  background-image: url('right.jpg');
  background-repeat: no-repeat;
  background-position: left top;
}

.photo {
  max-width: 100%;
  max-height: 100%;
}

.text-wrapper {
  display: table;
  height: 95.1vh;
  width: 36%;
  padding-left: 7%;
  padding-right: 7%;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  text-align: justify;
  color: white;
  background: #145C9E;
}

.text-content {
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

.text-content h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 75px;
  margin-top: 0;
}

.text-form {
  color: #38413D;
}


.left {
  float: left;
}

.right {
  float: right;
}

.text-wrapper h1 {
  color: white;
}

.login-wrapper, .register-wrapper {
  border-radius: 5px;
  background: #145C9E;
  text-align: center;
  cursor: pointer;
}

.login-button, .register-button {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: white;
}

.login-wrapper {
  float: right;
  margin-right: 2%;
  margin-top: 0.5vh;
  padding-top: 0.75vh;
  height: 3vh;
  width: 100px;
}

.register-wrapper {
  width: 40%;
  height: 40px;
  padding-top: 13px;
  margin: 0 auto;
  font-size: 20px;
}

.logo-wrapper {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.logo {
  height:80px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 100px;
}

.description-wrapper {
  width: 70%;
  text-align: justify;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  margin-top: 30px;
  margin-bottom: 60px;
}

.field-wrapper {
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  margin-top: 30px;
  margin-bottom: 60px;
}

.contained {
  background: white;
  border-radius: 10px;
  padding: 40px;
  height: 500px;
  box-shadow: 0px 5px 10px grey;
}

.profile {
  height: 900px;
}

hr {
  margin-bottom: 40px;
}

.field-wrapper h1 {
  margin: 0;
}

.upload, .fields, .question, .answer {
  width: 49%;
  margin-bottom: 20px;
}

.fields {
  padding-left: 1%;
}

.question{
  height: 22px;
}

.answer input {
  width: 90%;
}


.left {
  float: left;
}

.right {
  float: right;
}

.center {
  float:none;
  margin: 0 auto;
}

.upload {
  min-height: 400px;
  position: relative;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.right-align {
  text-align: left;
}

.short input {
  width: 100%;
}

.panel {
  height: 115px;
  width: 40%;
  margin: 0 auto;
  position: relative;
}

.ext-margin {
  margin-right: 0;
}

.h-short {
  height: 230px;
}

.profile-summary {
  width: 24%;
  margin-bottom: 20px;
  padding-left: 1%;
  border-right: 1px solid grey;
}

.prediction-wrapper {
  width: 72%;
}


.prediction-wrapper {
  padding-left:2%;
}
